<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FoodMap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <header>
        <img class="col s12" src="../images/comelones.png"> 
    </header>

    <div id="map"></div>

   

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC210e-8s9c21ZhAgJ6UNP9UN6fivQSe0o&libraries=places&callback=initialize"
        type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="../js/app.js"></script>
</body>

</html>